body{
  background-color: aqua;
  color:#fcf1f1;
  width:70%;
  margin-left: 15%;
  text-align: center;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190614/ourmid/pngtree-red-petals-romantic-poster-background-image_122902.jpg");
  background-size: cover;
}
.bf{
  width:70%;
}
.gif{
  margin-top: 100px;
}
img{
  height: 300px;
  width: 300px;
}
h1{
  margin-top: 30px;
  text-align: center;
}
@media (max-width:1028px) {
  .gif{
    margin: 10% 0 0 10%;
  }
  body{
    color:#fbf7f0;
    background-image: url("https://s.itl.cat/pngfile/s/29-293238_cute-heart-wallpaper-love-heart-wallpaper-iphone.jpg");
    background-size:cover;
  }
} 
